[General]
# 解析器
resource-parser = https://raw.githubusercontent.com/sub-store-org/Sub-Store/release/sub-store-parser.loon.min.js
#代理测速
proxy-test-url = http://www.gstatic.com/generate_204
#测速超时 (s)
test-timeout = 3
# IPv6 支持
ipv6 = false
# GeoIP 数据库
geoip-url = https://github.com/Masaiki/GeoIP2-CN/raw/release/Country.mmdb
ipasn-url = https://raw.githubusercontent.com/P3TERX/GeoLite.mmdb/download/GeoLite2-ASN.mmdb

sni-sniffing = true
# DNS
dns-server = 119.29.29.29,114.114.114.114,223.5.5.5
# DoH
doh-server = https://dns.alidns.com/dns-query,https://doh.pub/dns-query
# 跳过代理
skip-proxy = 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12,localhost,*.local,e.crashlynatics.com
# 旁路隧道
bypass-tun = 10.0.0.0/8,100.64.0.0/10,127.0.0.0/8,169.254.0.0/16,172.16.0.0/12,192.0.0.0/24,192.0.2.0/24,192.88.99.0/24,192.168.0.0/16,198.51.100.0/24,203.0.113.0/24,224.0.0.0/4,239.255.255.250/32,255.255.255.255/32
# Wi-Fi 相关设置
# > 是否开启局域网代理访问
allow-wifi-access = false
# > 开启局域网访问后的http代理端口
wifi-access-http-port = 7222
# > 开启局域网访问后的socks5代理端口
wifi-access-socks5-port = 7221
#解决一些ip请求无法匹配域名类规则的问题。real-ip指定的域名将不返回fake ip响应，直接将dns请求发往目标dns服务器
real-ip =msftconnecttest.com,msftncsi.com,*.msftconnecttest.com,*.msftncsi.com,*.srv.nintendo.net,*.stun.playstation.net,xbox.*.microsoft.com,*.xboxlive.com,*.battlenet.com.cn,*.battlenet.com,*.blzstatic.cn,*.battle.net
# 接口模式
interface-mode = auto
# 失败后切换节点次数
switch-node-after-failure-times = 3
# 策略切换时关闭链接
disconnect-on-policy-change = true
# udp端口禁用
disable-stun = true
disable-udp-ports = 443
# ssid-trigger参数，用于指定SSID下流量模式切换，（default表示默认，cellular表示蜂窝，目前支持三种值：rule，direct，proxy） 
# ssid-trigger = "default":rule, "cellular":rule,"ASUS_5G":direct

[Proxy]

[Remote Proxy]

[Remote Filter]
Proxy= NameRegex, FilterKey = "^(?=.*(.))(?!.*((?i)群|邀请|返利|循环|官网|客服|网站|网址|获取|订阅|流量|到期|机场|下次|版本|官址|备用|过期|已用|联系|邮箱|工单|贩卖|通知|倒卖|防止|国内|地址|频道|无法|说明|使用|提示|特别|访问|支持|(\b(USE|USED|TOTAL|EXPIRE|EMAIL|Panel)\b|(\d{4}-\d{2}-\d{2}|\dG)))).*$"
美国 = NameRegex, FilterKey = "(?i)(美|美国|美|波特兰|达拉斯|俄勒冈|凤凰城|费利蒙|硅谷|拉斯维加斯|洛杉矶|圣何塞|圣克拉拉|西雅图|芝加哥|🇺🇸|US)"
香港 = NameRegex, FilterKey = "(?i)(香港|港|hong|HK|HKG|🇭🇰)"
日本 = NameRegex, FilterKey = "(?i)(日本|东京|大阪|泉日|埼玉|沪日|深日|🇯🇵|JP|Japan)"
台湾 = NameRegex, FilterKey = "(?i)(台|台湾|TW|Taiwan)"
新加坡 = NameRegex, FilterKey = "(?i)(狮城|新加坡|🇸🇬|SG|Singapore)"
[Proxy Group]
Eee= select,Proxies,Auto, US, HK, JP, TW, SG
Proxies= select,Proxy
Auto=url-test, Proxy,url = http://www.gstatic.com/generate_204,interval = 300,tolerance = 5 ,img-url = https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Round_Robin.png
HK=url-test, 香港,url = http://www.gstatic.com/generate_204,interval = 300,tolerance = 5 ,img-url = https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Hong_Kong.png
SG=url-test, 新加坡,url = http://www.gstatic.com/generate_204,interval = 300,tolerance = 5,img-url = https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Singapore.png
TW=url-test, 台湾,url = http://www.gstatic.com/generate_204,interval = 300,tolerance = 5,img-url = https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/China.png
US=url-test, 美国,url = http://www.gstatic.com/generate_204,interval = 300,tolerance = 5,img-url = https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/United_States.png
JP=url-test, 日本,url = http://www.gstatic.com/generate_204,interval = 300,tolerance = 5,img-url = https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Japan.png
YouTube=select,Eee, US, HK, JP, TW, SG, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Youtube.png
Netflix=select, Eee,US, HK, JP, TW, SG,  img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Netflix.png
Disney+=select,Eee, US, HK, JP, TW, SG,  img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Disney+.png
HBO=select, Eee,US, HK, JP, TW, SG, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/HBO.png
TikTok=select,  Eee,US, HK, JP, TW, SG, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Tiktok.png
Spotify=select, Eee,US,  HK, JP, TW, SG,  img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Spotify.png
BiliBili=select, HK, TW, DIRECT,img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Bilibili.png
Telegram=select, Eee,US, HK, JP, TW, SG, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Telegram.png
AI=select,Eee, US, HK, JP, TW, SG,  img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Bot.png
Twitter=select, Eee,US, HK, JP, TW, SG, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Twitter.png
PayPal=select, Eee,US, HK, JP, TW, SG, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Paypal.png
Google=select, Eee,US,  HK, JP, TW, SG, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Google.png
Microsoft=select,Eee,US, HK, JP, TW, SG,DIRECT, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/Microsoft.png

[Rule]
FINAL,Eee

[Remote Rule]
https://github.com/fmz200/wool_scripts/raw/main/Loon/rule/rejectAd.list, policy=REJECT, tag=广告拦截, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Netflix/Netflix.list, policy=Netflix, tag=Netflix 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Disney/Disney.list, policy=Disney+, tag=Disney 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/HBO/HBO.list, policy=HBO, tag=HBO 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/TikTok/TikTok.list, policy=TikTok, tag=TikTok 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Spotify/Spotify.list, policy=Spotify, tag=Spotify 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon//YouTube/YouTube.list, policy=YouTube, tag=YouTube 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Telegram/Telegram.list, policy=Telegram, tag=Telegram 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Claude/Claude.list, policy=AI, tag=Claude 规则,  enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/OpenAI/OpenAI.list, policy=AI, tag=OpenAI 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Gemini/Gemini.list, policy=AI, tag=Gemini 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Copilot/Copilot.list, policy=AI, tag=Copilot 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Bing/Bing.list, policy=AI, tag=Bing 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/PayPal/PayPal.list, policy=PayPal, tag=PayPal 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Microsoft/Microsoft.list, policy=Microsoft, tag=Microsoft 规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Twitter/Twitter.list, policy=Twitter, tag=Twitter规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Google/Google.list, policy=Google, tag=Google规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/BiliBili/BiliBili.list, policy=BiliBili, tag=Bilibili规则, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Loon/Lan/Lan.list, policy=DIRECT, tag=Lan, enabled=true
https://github.com/fmz200/wool_scripts/raw/main/Loon/rule/GeoIP_CN.list, policy=DIRECT, tag=GeoIP_CN, enabled=true

[Host]

[Rewrite]

[Script]
generic script-path=https://raw.githubusercontent.com/Loon0x00/LoonScript/main/MediaCheck/check.js, timeout=300, tag=流媒体-解锁查询, img-url=https://raw.githubusercontent.com/erdongchanyo/icon/main/Policy-Filter/GMedia.png
generic script-path=https://raw.githubusercontent.com/xream/scripts/main/surge/modules/network-info/net-lsp-x.js, timeout=300, tag=网络信息查询, img-url=link.circle.system
[Plugin]
https://github.com/NSRingo/GeoServices/releases/latest/download/Maps.plugin, enabled=true
https://github.com/NSRingo/News/releases/latest/download/News.plugin, policy=US, enabled=true
https://github.com/NSRingo/GeoServices/releases/latest/download/Location.plugin, enabled=true
https://github.com/NSRingo/WeatherKit/releases/latest/download/WeatherKit.plugin, enabled=true
https://github.com/chavyleung/scripts/raw/master/box/rewrite/boxjs.rewrite.loon.plugin, policy=Eee, enabled=true
https://kelee.one/Tool/Loon/Plugin/Remove_ads_by_keli.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/BlockAdvertisers.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/XunLei_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Node_detection_tool.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Spotify_lyrics_translation.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/YoudaoDict_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/PinDuoDuo_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/QuarkBrowser_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Spotify_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Taobao_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/JD_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/DragonRead_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Amap_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/BaiduNetDisk_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Weixin_Official_Accounts_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/RedPaper_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/NeteaseCloudMusic_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Bilibili_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Weibo_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/YouTube_remove_ads.plugin, enabled=true
https://kelee.one/Tool/Loon/Plugin/Tieba_remove_ads.plugin, enabled=true

[MITM]
hostname =
ca-p12 = 
ca-passphrase = 
skip-server-cert-verify = false
